!!! 5
html.no-js(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title she.codes
    link(rel='stylesheet', href='../foundation/css/foundation.css')
    link(rel='stylesheet', href='../episode.css')
    script(src='../foundation/js/vendor/modernizr.js')
  body
    .fixed
      nav.top-bar(data-topbar='data-topbar')
        ul.title-area
          li.name
            h1
              a(href='#') she.codes
          //
             Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -x->
                            <li class="toggle-topbar menu-icon"><a href="#">
                                <span>Menu</span></a>
                            </li 
        section.top-bar-section
          //
             Right Nav Section 
          ul.right
            li.active
              a(href='#') Right Button Active
            li.has-dropdown
              a(href='#') Right Button Dropdown
              ul.dropdown
                li
                  a(href='#') First link in dropdown
          //
             Left Nav Section 
          ul.left
            li
              a(href='#') Left Nav Button
    block sections

  script(src='../foundation/js/vendor/jquery.js')
  script(src='../foundation/js/foundation.min.js')
  script
    $(document).foundation();
