<section>
    <div class="row">
        <div class="large-12 columns">
            <strong><%= title %></strong>
            <p>
                <pre>
# 2017-07-21
I can't think of anything more fun than beta-testing **she.codes**!
                </pre>
            </p>
        </div>
    </div>
</section>
