<section>
    <div class="row">
        <div class="large-12  columns">
            <h2><%= title %></h2>
        </div>
    </div>
    <div class="row">
        <div class="large-5 columns panel">
            <%- reading_list %>
        </div>
        <div class="large-7 columns">
            <%- marked(text) %>
        </div>
    </div>
</section>
